baseURL: "https://www.michalsramek.eu"
languageCode: "en-us"
title: "Michal Šrámek"
theme: hugo-profile

outputs:
  home:
  - "HTML"
  - "RSS"
  - "JSON"
  page:
  - "HTML"
  - "RSS"

Paginate: 6
enableRobotsTXT: true

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
  - identifier: blog
    name: My Blog
    title: Blog posts
    url: /blogs
    weight: 1
    # - identifier: gallery
    #   name: Gallery
    #   title: Blog posts
    #   url: /gallery
    #   weight: 2
  # Dropdown menu:
  #   - identifier: dropdown
  #     title: Main menu
  #     name: Menu
  #     weight: 1

params:
  title: "Michal Šrámek"
  description: "AUTHOR. SCIENTIST. INVENTOR"
  # staticPath: ""  # The path to serve the static files from
  favicon: "/favicon.png"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    disableThemeToggle: false
    defaultTheme: "dark" # light

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # color:
  #   textColor:
  #   secondaryTextColor:
  #   backgroundColor:
  #   secondaryBackgroundColor:
  #   primaryColor:
  #   secondaryColor:

  #   darkmode:
  #     textColor:
  #     secondaryTextColor:
  #     backgroundColor:
  #     secondaryBackgroundColor:
  #     primaryColor:
  #     secondaryColor:

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    brandName: " " # Brand name for the brand | default is the title variable
    disableSearch: true
    menus:
      disableAbout: true
      disableExperience: true
      disableEducation: true
      disableProjects: true
      disableAchievements: true
      disableContact: true

  # Hero
  hero:
    enable: true
    intro: "Hi, welcome to my page! My name is"
    title: "Michal."
    subtitle: "AUTHOR. SCIENTIST. INVENTOR"
    content: |-
      Passionate scientist working with cutting-edge information technologies, while also serving as the founder of several small businesses.
    image: /images/hero.jpg
    socialLinks:
      fontAwesomeIcons:
      # - icon: fab fa-linkedin
      #   url: https://example.com
      # - icon: fab fa-facebook
      #   url: https://example.com
      # - icon: fab fa-github
      #   url: https://github.com/sramekmichal
      # - icon: fab fa-google
      #   url: https://scholar.google.com/citations?user=o1_64h8AAAAJ&hl=cs
      # - icon: fab fa-researchgate
      #   url: https://example.com

      customIcons:
      # - icon: /fav.png
      #   url: "https://example.com"

  # About
  about:
    enable: true
    title: "About Me"
    image: "/images/me.jpg"
    content: |-
      I am an experienced IT professional with a background in biochemistry and a passion for cloud development. I maintain a strong enthusiasm for science, technology, and art. Currently, I hold the position of DevOps Engineer at [Trustsoft](https://www.trustsoft.eu/) in Prague, CZ.

      I am open minded person adapted to problem solving with attention to details.
    skills:
      enable: true
      title: "Here are a few technologies I've been working with recently:"
      items:
      - "Kubernetes"
      - "Helm"
      - "Go"
      - "AWS"
      - "Terraform"
      - "GitHub"
      - "GitLab"
      - "Python"
      - "SonarCloud"
      - "SQL"

  # Experience
  experience:
    enable: true
    title: "Latest Occupation"
    items:
    - job: "DevOps Engineer"
      company: "Trustsoft"
      companyUrl: "https://www.trustsoft.eu/"
      date: "May 2024 - present"
      featuredLink:
        enable: true
        name: "VISIT COMPANY"
        url: "https://www.trustsoft.eu/"
      info:
        enable: true
        content: Technology
      content: |-
        Technology Section at [Trustsoft](https://www.trustsoft.eu/) in Prague, CZ.

        -  Providing the link between software development and operations through automation, continuous integration, delivery and optimizing infrastructure.

  # Education
  education:
    enable: true
    title: "Latest Education"
    index: false
    items:
    - title: "Doctoral Study"
      school:
        name: "Czech University of Life Sciences"
        url: "https://www.af.czu.cz/en"
      date: "2023 - present"
      study: "Chemistry"
      thesis: "Synthesis of selenium and biochar nanoparticles and their benefit to agricultural applications"
      featuredLink:
        enable: false
        name: "Read Online"
        url: ""
      content: |-
        - <u>Educational Field:</u> Physical Sciences

  # projects
  projects:
    enable: true
    title: "My Family"
    items:
    - title: Aperta Studio
      content: Business website related to consulting, model designing and custom 3D printing. I work with various FDM printers and one MSLA.
      image: /images/projects/apertastudio.png
      featured:
        name: Ask for Services
        link: https://www.apertastudio.eu/
      badges:
      - "3D"
      - "Design"
      - "Crafting"
      links:
      - icon: fab fa-linkedin
        url: https://www.linkedin.com/company/apertastudio
      - icon: fab fa-facebook
        url: https://www.facebook.com/apertastudio
      - icon: fa fa-envelope
        url: mailto:sramek.consulting@aol.com

    - title: NERDSHARK
      content: E-shop with mostly my personal fashion and art goods. My goal is to turn the site into something more than an e-shop, but more like a community of artists.
      image: /images/projects/nerdshark.png
      featured:
        name: Visit E-shop
        link: https://www.nerdshark.eu
      badges:
      - "Fashion"
      - "Art"
      - "HomeMade"
      links:
      - icon: fab fa-linkedin
        url: https://www.linkedin.com/company/nerdshark
      - icon: fab fa-facebook
        url: https://www.facebook.com/nerdsharkshop
      - icon: fa fa-envelope
        url: mailto:info@nerdshark.eu

  # Achievements
  achievements:
    enable: true
    title: "Latest Achievements"
    items:
    - title: Cybersecurity Manager Course 24
      content: Czech National Cyber and Information Security Agency (2024).
      url: "/images/cybersecurity-manager.png"
    - title: Creative Skills for Innovation
      content: New Generation of Founders - A Grow with Google PROGRAMME (2022).
      url: "/images/google-csi.jpg"
    - title: Go Programming Language
      content: "Udemy Certificate of Completion - Learn How to Code (2020)"
      url: "/images/udemy-go.jpg"

  #Contact
  contact:
    enable: true
    title: "Get in Touch"
    content: My inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
    email: ""
    btnName: Mail me
    formspree:
      enable: true # `contact.email` value will be ignored
      formId: xoqzvzvl # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
      emailCaption: "Enter your email address"
      messageCaption: "Enter your message here"

  footer:
    recentPosts:
      path: "blogs"
      count: 0
      title: Recent Posts
      enable: false
      disableFeaturedImage: true
    socialNetworks:
      linkedin: https://www.linkedin.com/in/michal-sramek
      facebook: https://www.facebook.com/michal.sramek5
      github: https://github.com/sramekmichal
      scholar: https://scholar.google.com/citations?user=o1_64h8AAAAJ&hl=cs
      researchgate: https://www.researchgate.net/profile/Michal-Sramek

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    readTime:
      enable: true
      content: "min read"
    scrollprogress:
      enable: true
